.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav a {
    padding: 10px;
  }
  
  .navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  